<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        LOGO.png
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">Categories</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link">Articles</a>
        </li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul>
</nav>