<%- include("../../partials/header.ejs")  %> 
<body>
    <%- include("../../partials/navbar.ejs")  %>
    <div class="container">
        <hr>
        <h2 class="text-center">Market Menager</h2>
        <br>
        <a href="/admin/player/new" class="btn btn-dark ">New Player</a>
        <a href="/admin/orgs/new" class="btn btn-dark ">New Org</a>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Lane</th>
                    <th>Org.</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>
</body>
<%- include("../../partials/footer.ejs")  %>